/* ==== Global Styles ==== */

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* ==== Font Styles ==== */
@font-face {
  font-family: "SF Pro Display";
  font-style: bold;
  font-weight: 600;
  src: local("SF Pro Display"), local("SF-Pro-Display-Bold"),
    url(./homeless-fonts/SF-Pro-Display-Bold.otf) format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("./homeless-fonts/SF-Pro-Display-Regular.otf") format("opentype"),
    local("SF Pro Display");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: lighter;
  font-weight: 100;
  src: local("SF Pro Display"), local("SF-Pro-Display-Light"),
    url(./homeless-fonts/SF-Pro-Display-Light.otf) format("opentype");
}

/* ==== App Styles ==== */
.App {
  font-family: "SF Pro Display", Helvetica;
  margin: 0 auto;
  height: auto;
}

/* ==== Breadcrumb Nav ==== */

.tablinks {
  text-decoration: none;
  font-size: 0.6rem;
  margin-top: 19px;
  width: 96px;
  color: #4a4a4a;
  text-align: center;
}
.back2cat {
  height: 25px;
  padding: 10px 5px 0;
  font-size: 0.6rem;
  letter-spacing: 1px;
  margin-right: 50px;
  margin-left: 10px;
}
.back2catJobs {
  padding-right: 50px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-left: 10px;
}
.right-arrow {
  display: flex;
  justify-content: flex-start;
}
.fa-arrow-right {
  margin: 30px 0 30px 30px;
}

.vl {
  border-left: 1.5px solid grey;
  height: 44px;
}
.subcatbtn {
  width: 150px;
  height: 50px;
  margin: .75%;
}
.subcatIcon {
  display: flex;
  background-color: #656176;
}
.subCatLink {
  display: flex;
}
#unacceptableLength {
  width: 96px;
  padding-right: 0;
}



/* ==== Search Modal ==== */

.modal {
  position: fixed;
  top: 5%;
  left: 12.5%;
  width: 75%;
  height: 75%;
  background-color: #9b9b9b;
  opacity: 0.975;
  z-index: 1;
  border-radius: 2px;
}

.modal-main {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.modal-main .closeButton {
  position: relative;
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
  top: 0;
  right: 0;
  margin-left: -50%;
  margin-top: 55px;
}

.modal-landing {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  border-radius: 100px;
}

.modal-landing .closeButton {
  position: relative;
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
  top: 0;
  right: 0;
  margin-left: -50%;
  margin-top: 55px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.fa-search {
  position: absolute;
  color: grey;
  top: 37%;
  right: 3%;
  font-size: 1.6rem;
}

.mainSearch .ais-SearchBox {
  width: 100%;
}

.mainSearch .ais-SearchBox-input {
  width: 75%;
  margin-left: -12.5%;
  border-radius: 3px;
  padding: 1% 0 1% 1%;
  font-size: 1.2rem;
}
.mainSearch .ais-SearchBox-submit {
  width: 5%;
  margin-left: 2%;
  border-radius: 2px;
  display: none;
}

.landingSearch .ais-SearchBox {
  width: 100%;
}

.landingSearch .ais-SearchBox-input {
  width: 75%;
  margin-left: -12.5%;
  border-radius: 3px;
  padding: 1% 0 1% 1%;
  font-size: 1.2rem;
}
.landingSearch .ais-SearchBox-submit {
  width: 5%;
  margin-left: 2%;
  border-radius: 2px;
  display: none;
}

/* ==== Single Resource ==== */
.fa-map-marker-alt {
  padding-right: 4%;
  font-size: 1.3rem;
}

.fa-bus {
  padding-right: 4%;
  font-size: 1.3rem;
}

.travel-time .fa-walking {
  padding-left: 11%;
  font-size: 1.7rem;
  padding-right: 4%;
}

.info-hours .fa-clock {
  padding-left: 10%;
  padding-right: 4%;
  font-size: 1.3rem;
}

.info-hours .fa-phone {
  padding-right: 4%;
  font-size: 1.3rem;
}

.maps {
  width: 32%;
  height: 363px;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}

.single-resource-container {
  width: 100%;
}

/* ==== Tablet Styles ==== */

@media (max-width: 1024px) {
  .maps {
    width: 91%;
    margin: 20px 4% 0 4%;
  }

  #moveOnOver {
  padding-left: 16.5%;
  }
}

/* ==== Mobile Styles ==== */
@media (max-width: 600px) {
  .map-button .fa-location-arrow {
    padding-right: 10px;
  }

  .previous-button {
    width: 100%;
    justify-content: center;
  }

  .previous-button .fa-arrow-left {
    padding-right: 10px;
  }

  .button-div a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .fa-arrow-right {
    display: none;
  }

  .back2cat {
    margin-right: 8%;
  }

  .subcatbtn {
    margin: 5% 2.5% 0 2.5%;
  }

  .modal {
    position: fixed;
    top: 5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    background-color: #9b9b9b;
    opacity: 0.975;
    z-index: 1;
    border-radius: 2px;
  }
  
  #moveOnOver {
  padding-left: 0;
  }
}

/* ==== Print Styles ==== */

@media print {
  .maps {
    width: 100%;
    margin-top: 200px;
  }
}
