/* ==== Global Styles ==== */

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* ==== Font Styles ==== */
@font-face {
  font-family: "SF Pro Display";
  font-style: bold;
  font-weight: 600;
  src: local("SF Pro Display"), local("SF-Pro-Display-Bold"),
    url(./homeless-fonts/SF-Pro-Display-Bold.otf) format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("./homeless-fonts/SF-Pro-Display-Regular.otf") format("opentype"),
    local("SF Pro Display");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: lighter;
  font-weight: 100;
  src: local("SF Pro Display"), local("SF-Pro-Display-Light"),
    url(./homeless-fonts/SF-Pro-Display-Light.otf) format("opentype");
}

/* ==== App Styles ==== */
.App {
  font-family: "SF Pro Display", Helvetica;
  margin: 0 auto;
  height: auto;
}

/* ==== Breadcrumb Nav ==== */

.tablinks {
  text-decoration: none;
  font-size: 0.6rem;
  margin-top: 19px;
  width: 96px;
  color: #4a4a4a;
  text-align: center;
}
.back2cat a {
  color: #4a4a4a;
}
.back2cat {
  height: 25px;
  width: 135px;
  padding: 10px 0 0 7px;
  font-size: 16px;
}
.back2catJobs {
  padding-right: 50px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-left: 10px;
}
.right-arrow {
  display: flex;
}
.fa-arrow-right {
  margin: 40px 0 30px 20px;
}

.vl {
  border-left: 1.5px solid grey;
  height: 44px;
}
.subcatbtn {
  width: 170px;
}
.subcatIcon {
  display: flex;
  background-color: white;
}
.subCatLink {
  display: flex;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.subCatLink:hover > .tablinks {
  color: white;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#unacceptableLength {
  width: 96px;
  padding-right: 0;
}

/* ==== Translation Coming Soon Modal ==== */
.spanishModal {
  position: fixed;
  /* top: 10%;
  left: 25%; */
  top: 25%;
  left: 42%;
  width: 300px;
  height: 200px;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px #00000050;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #656176;
  opacity: .5;
}

.modal-language {
  color: #4a4a4a;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 20px 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.modal-language h2 {
  font-size: 1.6rem;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.modal-language h4 {
  font-size: 1.4rem;
  width: 90%;
  margin-left: 5%;
  font-style: italic;
}

.modal-language .closeModalButton {
  position: relative;
  width: 10%;
  font-size: 1.6rem;
  font-weight: bold;
  color: #4a4a4a;
  top: 0;
  right: 0;
  margin-left: 45%;
  margin-top: 15px;
  cursor: pointer;
}

/* ==== Search Modal ==== */

.modal {
  position: fixed;
  top: 5%;
  left: 12.5%;
  width: 75%;
  height: 75%;
  background-color: #656176;
  opacity: 0.975;
  z-index: 1;
  border-radius: 2px;
}

.modal-main {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.modal-main .closeButton {
  position: relative;
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
  top: 0;
  right: 0;
  margin-left: -50%;
  margin-top: 55px;
  cursor: pointer;
}

.modal-landing {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  border-radius: 100px;
}

.modal-landing .closeButton {
  position: relative;
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
  top: 0;
  right: 0;
  margin-left: -50%;
  margin-top: 55px;
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.fa-search {
  position: absolute;
  color: grey;
  top: 37%;
  right: 3%;
  font-size: 1.6rem;
}

.mainSearch .ais-SearchBox {
  width: 100%;
}

.mainSearch .ais-SearchBox-input {
  width: 75%;
  margin-left: -12.5%;
  border-radius: 3px;
  padding: 1% 0 1% 1%;
  font-size: 1.2rem;
}
.mainSearch .ais-SearchBox-submit {
  width: 5%;
  margin-left: 2%;
  border-radius: 2px;
  display: none;
}

.landingSearch .ais-SearchBox {
  width: 100%;
}

.landingSearch .ais-SearchBox-input {
  width: 75%;
  margin-left: -12.5%;
  border-radius: 3px;
  padding: 1% 0 1% 1%;
  font-size: 1.2rem;
}
.landingSearch .ais-SearchBox-submit {
  width: 5%;
  margin-left: 2%;
  border-radius: 2px;
  display: none;
}
.ais-SearchBox-reset {
  display: none;
}
.ais-SearchBox-resetIcon {
  display: none;
}
/* ==== Landing Page ====  */
.subscript {
  margin-top: 9px;
  margin-left: 21%;
  color: white;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 1px;
}

/* ==== Single Resource ==== */
.fa-map-marker-alt {
  padding-right: 4%;
  font-size: 1.3rem;
}

.fa-bus {
  padding-right: 4%;
  font-size: 1.3rem;
}

.travel-time .fa-walking {
  padding-left: 11%;
  font-size: 1.7rem;
  padding-right: 4%;
}

.info-hours .fa-clock {
  padding-left: 10%;
  padding-right: 4%;
  font-size: 1.3rem;
}

.info-hours .fa-phone {
  padding-right: 4%;
  font-size: 1.3rem;
}

.maps {
  width: 32%;
  height: 363px;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}

.single-resource-container {
  width: 100%;
}

/* ==== Resources Near You ==== */
.travel-times .fa-walking {
  padding-left: 5%;
  padding-right: 4%;
}

.travel-times .fa-clock {
  /* padding-left: 5%; */
  padding-right: 4%;
}

.travel-times .fa-phone {
  padding-right: 4%;
}

:hover.resource-container .fa-external-link-alt {
  color: #fff;
}

.details-button .fa-external-link-alt {
  font-size: 1.4rem;
  color: #9b9b9b;
}



/* ==== Tablet Styles ==== */

@media (max-width: 1024px) {
  .maps {
    width: 91%;
    margin: 20px 4% 0 4%;
  }

  .moveOnOver {
    padding-left: 81.5%;
  }

  .subscript {
    margin-top: 9px;
    margin-left: 21%;
    color: #fff;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  .spanishModal {
    position: fixed;
    /* top: 10%;
    left: 25%; */
    top: 25%;
    left: 30%;
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px #00000050;
  }
  
  /* .modal-language {
    color: #4a4a4a;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 100px;
    padding: 20px 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .modal-language h2 {
    font-size: 1.6rem;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  .modal-language h4 {
    font-size: 1.4rem;
    width: 90%;
    margin-left: 5%;
    font-style: italic;
  }
  
  .modal-language .closeModalButton {
    position: relative;
    width: 10%;
    font-size: 1.6rem;
    font-weight: bold;
    color: #4a4a4a;
    top: 0;
    right: 0;
    margin-left: 45%;
    margin-top: 15px;
    cursor: pointer;
  } */

}
/* ==== Upright Tablet ==== */
@media (max-width: 800px) {
  #moveYouth {
    padding-left: 143px;
  }
  #thirdRow {
    padding-left: 143px;
    padding-top: 30px;
  }
}

/* ==== Mobile Styles ==== */
@media (max-width: 600px) {
  .map-button .fa-location-arrow {
    padding-right: 10px;
  }

  .previous-button {
    width: 100%;
    justify-content: center;
  }

  .previous-button .fa-arrow-left {
    padding-right: 10px;
  }

  .button-div a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .fa-arrow-right {
    display: none;
  }

  .fa-arrow-left {
    padding-top: 10px;
  }

  .subcatbtn {
    margin: 5% 2.5% 0 2.5%;
  }

  .modal-main .closeButton {
    font-size: 1.8rem;
    left: 15%;
  }

  .modal-landing .closeButton {
    font-size: 1.8rem;
    left: 15%;
  }

  .moveOnOver {
    padding-left: 0;
  }

  #moveYouth {
    padding-left: 0;
  }

  .subscript {
    margin: 0 auto;
    padding: 10px 2%;
  }

  .spanishModal {
    position: fixed;
    /* top: 10%;
    left: 25%; */
    top: 25%;
    left: 13%;
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px #00000050;
  }
}

/* ==== Print Styles ==== */

@media print {
  .maps {
    width: 100%;
    margin-top: 50px;
  }
}
